.modal-overlay {
  .modal {
    background-color: var(--background-light);
    color: var(--text-color);
    padding: var(--padding-large);
    border-radius: var(--border-radius-xl);
    width: 90%;
    max-width: 750px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: var(--box-shadow-soft);
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);

    h2 {
      margin-top: 0;
      color: var(--blue-soft-dark);
      padding-bottom: 10px;
      border-bottom: 1px solid white;
    }

    label {
      font-weight: bold;
      color: var(--blue-soft-dark);
    }

    select,
    input[type="file"] {
      padding: 0.5rem;
      border-radius: var(--border-radius);
      background: var(--gray-dark);
      color: white;
      border: none;
      font-size: var(--font-size-base);
    }

    .modal-preview-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: var(--gap-small);
      gap: var(--gap-small);

      .modal-preview-image {
        width: 500px;
        height: 370px;
        object-fit: contain;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow-soft);
        border: var(--border-subtle);
      }

      .modal-delete-image-btn {
        margin-top: 0.5rem;
        background-color: var(--red-soft);
        color: white;
        padding: 0.4rem 1rem;
        font-size: var(--font-size-base);
        border: none;
        border-radius: var(--border-radius-button);
        cursor: pointer;
        font-weight: bold;
        transition: background-color var(--transition);

        &:hover {
          background-color: var(--red);
        }

        &:disabled {
          background-color: var(--gray-medium);
          cursor: not-allowed;
        }
      }
    }

  }


  .modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-medium);
    margin-top: 2rem;

    .cancel-btn,
    .confirm-btn {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: var(--border-radius-button);
      font-weight: bold;
      cursor: pointer;
    }

    .cancel-btn {
      background-color: var(--gray-medium);
      color: white;
    }

    .confirm-btn {
      background-color: var(--blue-soft);
      color: var(--gray-black);
    }

    .button-spinner {
      width: 16px;
      height: 16px;
      border: 2px solid white;
      border-top: 2px solid transparent;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
    }
  }
}



@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}